<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.europa.accounting.mapper.ExpensesRecordMapper">
    <update id="del">
        update expenses_record
        set deleted = 1
        where id = #{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from expenses_record
        <where>
            <include refid="pageWhere"></include>
        </where>
    </select>
    <select id="list" resultType="com.europa.accounting.entity.ExpensesRecord">
        select * from expenses_record
        <where>
            <include refid="pageWhere"></include>
            limit #{param.offset}, #{param.pageSize}
        </where>
    </select>

    <sql id="pageWhere">
        deleted = 0
        and type = #{param.type}
        <if test="param.name != null and param.name != ''">
            and name like concat('%', #{param.name}, '%')
        </if>
        <if test="param.address != null and param.address != ''">
            and address = #{param.address}
        </if>
    </sql>
</mapper>
